/**
 * @file
 * Main css implementation for this theme.
 */
/* General styles. */
/*

@font-face {
	font-family:OpenSans-Regular; 
	src:url(../fonts/OpenSans-Regular.ttf); 
}
*/

@media only screen and (min-width: 1600px) {
    #playback-controll-panel {
        margin-top : 240px !important;
    }

    .terminal {
      margin: 0 auto;
      width: 1600px !important;
      padding: 20px;
      margin-top: -20px;
      height: 400px;
   }
	
   #webssh-terminal {
    max-height : 750px;
   }
}

@media (min-width: 480px) {
    .playback-controller {
        margin-top : 150px !important;
    }
}

@media (min-width: 767px) {
    .playback-controller {
        margin-top : 150px !important;
    }
}


@media (min-width: 768px) and (min-width: 979px){
    .playback-controller {
        margin-top : 175px !important;
    }
}




body {
	/*font-family:OpenSans-Regular,Helvetica,Arial,sans-serif;*/
	background-color:#dddddd;
	background-image: url(../images/grid.png);
	background-position: initial initial;
	background-repeat: initial initial;
}

a, a:visited {
        color: #fff;
        text-decoration: none;
	font-weight: bold;
}

a:hover {
        color: #000;
        font-weight: bold;
        text-decoration: none;
}

.block {
  background: #fdfdfd;
	padding: 10px 20px;
	margin: 20px 0; 
	border-right: 3px solid #bbb;
        border-bottom: 3px solid #bbb;
}

.region-highlighted .block {
	background: #fdfdfd;
	padding:0px;
	margin: 0px;
}

.footer .block {
	background: transparent;
	border: 0;
}

/* Colors styles. */
.yellow-green {
	color:#9ACD32;
}

.slate {
	color: #555555;
}
.light-coral {
	color:#F08080;
}
.cadet-blue {
	color:#5F9EA0;
}
/* Site name. */
#site-name {
	padding:0px 20px;
	font-size:15px;
}

#sidebar-first .block .span {
   border-bottom:1px solid #222222;		
}
/* Message styles. */
.message {
	padding:5px 10px;
}
.message .media .media-object {
	padding:7px 0px;
}
.message .media .media-body {
	padding:0px 5px;
}

/* Toolbar styles. */
.toolbar {
	padding:10px; 
	background-color:#FCF8E3;
}
.toolbar .toolbar-nav-collapse.collapse {
	height:auto;
}
.navbar {
	max-height: 20px;
}

.toolbar a.btn-navbar {
	display:none;
}

/* WebSSH Terminal styles. */
#webssh-terminal {
	padding:10px 0px; /* default 10px */
}

/* Footer styles. */
.footer {
	margin-top:20px;
}
.syclops-archive {
 color : #b3b3b3;
}

.syclops-restore {
 color : #808080;
}

.syclops-highlighted-menus span {
  font-size : 75%;
}

.syclops-highlighted-menus a,.syclops-highlighted-menus a:visited  {
  color : #333;
}
 
.syclops-highlighted-menus li {
 /*padding-left : 20px;*/
}

.highlighted div.navbar-ex1-collapse {
 margin-top : 20px;
}

.highlighted .navbar-collapse {
 padding-left : 0px;
}

.syclops-toggle-on {
 width: 5em;
 height:2em;
 background:url('../images/on-off-toggle-bg.png') 0px -25px;
 background-size:50px 80px;
 background-repeat:no-repeat;
 display : block;
 text-indent: 100%;
 white-space: nowrap;
 overflow: hidden;
}

.syclops-toggle-off {
 width : 5em;
 height : 2em;
 background:url('../images/on-off-toggle-bg.png') 0px 0px;
 background-size:50px 80px;
 background-repeat:no-repeat;
 display : block;
 text-indent: 100%;
 white-space: nowrap;
 overflow: hidden;
}

.block-title {
	font-weight: bolder;
	padding: 0 0 9px 0;
	border-bottom: 1px solid #eeeeee;
}

.region-sidebar-second h3.block-title {
 font-size: 20px;
}

.region-sidebar-second .block td, table.views-table td {
	border-top: 0;	
	border-bottom; 0;
}

a, a:visited {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #000;
	/*font-weight: bolder;*/
	text-decoration: none;
}

.highlighted a:hover {
 	color: #000;
	font-weight: bolder;
  	text-decoration: none;
}

.views-row-even {
	background: #FAFAFA;
}

.nav-tabs {
 padding-top : 20px;
}

#main-content div.view-dashboard-syclops {
	background-color:#fff; 
	padding: 10px 20px;
	padding-top : 0;
 	border-bottom: 3px solid #bbb;
	border-right: 3px solid #bbb;
}

#main-content div.view-dashboard-syclops .view-content > h3 {
 padding-top : 20px;
}

.view-dashboard-syclops .view-header .page-header > h3 {
	font-size: 25px;
 	font-weight: bolder;
}

.nav .nav-tabs {
 font-weight : bolder;
 margin-top : 20px;
}

.nav ul.nav-tabs{ 
 background-color : #fff;
 border-right: 3px solid #bbb; 
 border-bottom: 0;
}
.nav-tabs a {
 background-color : #cccccc;
}

.nav-tabs .active {
 /*border-right : 2px solid #bbb;*/
}

.nav-brand
.view-content thead {
	font-weight : bolder;
}

.view-content thead, tbody tr td {
  background-color : #fff;
	padding : 20px;
}

.view-og-members-admin {
 padding : 20px;
}

.view-og-members-admin #edit-submit--2 {
  float: right;
	margin-top : -50px;
}

.view-og-members-admin select {
  width : 80%;
}

.view-og-members-admin thead, tbody tr {
 border: none;
}
.syclops-dashboard-header {
 background-color : #fff;
 padding : 22px 0 0 20px;
 background-color: #fff;
 margin-bottom: -23px;
 border-right: 3px solid #bbb;
 border-bottom : 3px solid #bbb;
 font-size : 25px;
 font-weight: bolder;
}

.syclops-page-title {
 font-weight: bolder;
}

#ssh-config-node-form, 
#user-profile-form,
#grant-node-form, 
#project-node-form,
#og-manager-change-build-form,
 .view-og-members-admin, 
 .view-display-id-page_3,
 .view-display-id-page_1,
 .view-id-syclops_archive {
 		background-color : #fff;
 		padding : 40px;
 		border-bottom: 3px solid #bbb;
 		border-right: 3px solid #bbb;
}

#grant-node-form, #project-node-form {
 margin-top : 20px;
}

div.view-header .view-id-syclops_archive, .view-display-id-page_1 {
 border : none;
 padding : 20px;
}
.view-display-id-page_3 .view-footer, .view-display-id-page_1 .view-footer{
 padding-bottom : 30px;
}

.view-footer .btn {
 color: #eee;
}

.field-content .col-md-1 {
  padding-top: 7px;
} 

.field-content .message .text-muted {
	 margin-top: -10px;
}

.terminal {
 padding : 10px;
 margin-top : -20px;
 height : 400px;
}

.terminal .row {
	margin-left : 0px;
	margin-right : 0px;
}

.action-menu {
 background-color: #9ACD32;
 padding: 9px 20px;
 margin-right:5px;
}

.action-menu span { 
 font-size  : 80%;
}
.action-menu-mini {
	padding: 0px;
	margin: 0px 0px 1px 0px;
}

.action-menu-mini :first-child {
  margin: 0px;
	margin-left: 1px;
	margin-right: -14px;
}


.action-menu i {
 color: #ffffff;
}

.navbar-nav > li > a {
	padding:15px 10px;
	vertical-align: middle;
}

.syclops-connection-menu {
	background-color: #000;
	border: 1px solid #333;
	border-radius: 8px;
	padding: 3px;
	color: #fff;
}

.syclops-summary-block-title {
	padding: 10px;
}

.syclops-highlighted-menus-min {
 margin-left : 0px;
}
.syclops-highlighted-menus-min span {
	padding : 12px;
}
.syclops-highlighted-menus-min div {
  margin-left : -16px;
}


.syclops-highlighted-menus-min .syclops-highlighted-menus-min-sm {
   padding-left:0px !important;
}

.syclops-highlighted-menus-min .syclops-highlighted-menus-min-sm .span-padding{
  padding-left :26px;
}
.syclops-summary-block-title h1,
.syclops-summary-block-title h2
 {
	font-weight: bolder;
}

.syclops-summary-block-content {
 margin-bottom: 0; 
 margin-top: 5px; 
 padding: 5px 0; 
 background: #F9F9F9; 
}

.syclops-summary-block-content span {
	font-size: 75%;
}
.strippadding {
margin: 0 !important;
padding: 0 !important;
}
.view-empty {
	padding-top: 20px;
}
.alert {
	margin-top: 25px;
}

table, td {
  background: transparent;
}

.syclops-active-grant { 
	padding : 10px;
	margin-bottom : 10px;
}
.syclops-member-project-list ul {
	list-style: none;
	padding: 1px 0px 0px 0px;
	text-indent: 10px;
	line-height: 30px;
}

.syclops-member-project-list li {
	border-bottom: 1px solid #ddd;
	margin: 1px;
}

.syclops-navbar-brand {
	padding-left: 0px;
	padding-right: 10px;
}

.syclops-user-profile-title  {
	font-size: 25px;
 font-weight: bolder;
}
.syclops-connection-block-title
{
 font-size: 20px;
 font-weight: bolder;
}
.syclops-user-name {
	font-size: 20px;
}
.syclops-user-status {
	color: red;
}

#user-menu a {
 font-weight : normal;
}

#edit-submit, #edit-cancel {
  margin-top: 10px;
		margin-left: 0px;
		width: 40%;
}

#block-views-syclops-session-block-2:-webkit-full-screen {
	width: 100%;
	height: auto;
}

#gateone:-webkit-full-screen {
   height:650px;
}

blockquote {
 background-color: #f3f3f3;
}

.playback-controller {
z-index: 2;
background: transparent;
position: absolute;
width: 90%;
height: auto;
text-align: center;
}
/*TFA Module*/
#tfa-basic-setup-form, #tfa-basic-overview,#tfa-basic-disable-form  {
  background: #ffffff;
	padding:30px;
}
#tfa-basic-setup-form #edit-login, #tfa-basic-setup-form #edit-submit {
  	margin-top: 10px;
    margin-left: 0px;
    width: 40%;
		background-color:#ffa500 !important;
}

#tfa-basic-overview .fieldset-wrapper a {
  	display: block;
		width: 140px;
		background: #ffa500;
		padding: 5px;
		text-align: center;
}

#tfa-basic-overview .fieldset-description {
  padding-bottom:20px;
} 

#tfa-basic-overview  p:nth-of-type(3)  {
  margin-top: -30px;
	margin-left: 160px;
	background: #659cef;
	width:140px;
  padding:5px;
	text-align:center;
}
/*Password Reset From*/
.password-strength-text {
	float: right;
	margin-right: 210px;
}
